h2o==3.38.0.3
matplotlib==3.5.3
pandas==1.5.1
mysql-connector-python==8.0.31
streamlit==1.15.1
opencv-python==4.6.0.66
imutils==0.5.4
plotly==5.11.0
streamlit-extras==0.2.4
streamlit-image-select==0.5.1
"https://files.pythonhosted.org/packages/4f/74/32d063b237a6b88fc7e0ffdeebbb9f62848a6da908c403f3a5c35eff3a42/install-jdk-0.3.0.tar.gz"